{% extends 'base.html.twig' %}
{% block title %}Upload file{% endblock %}
{% block body %}
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body bg-light">
                <form action="{{ path('app_file_upload') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                    <div>
                        <label for="myfile">File to upload:</label>
                        <input type="file" name="myfile" id="myfile">
                    </div>
                    <br>
                    <div>
                        <button type="submit">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}